.navbar-info {
  background-color: rgb(235, 235, 235) ;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.pokedex-width {
  padding: 20px;
  max-width: 150px;
}

.search-field {
  border-radius: 5px;
  height: 20px;
  width: 200px;
  padding: 5px;
}
