.navbar-info {
  background-color: rgb(235, 235, 235) ;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.pokedex-width {
  padding: 20px;
  max-width: 150px;
}

.search-field {
  border-radius: 5px;
  height: 20px;
  width: 200px;
  padding: 5px;
}

.search-button {
  border-radius: 5px;
  padding: 5px 30px;
  background-color: #E3340D;
  margin: 5px;
  color: #fff;
  border: 1px solid black;
  box-shadow: 1px 1px black;
  height: 32px;
}
